<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Buff Shop</title>
  </head>
  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif">
    <table role="presentation" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td align="center" style="padding: 0">
          <table
            role="presentation"
            cellpadding="0"
            cellspacing="0"
            width="680"
            style="background-color: #0a0a0a; color: #ffffff"
          >
            <!-- Logo Section -->
            <tr>
              <td align="center" style="padding: 48px 0 32px 0">
                <img
                  src="https://res.cloudinary.com/solomonfrank/image/upload/v1736688831/logo_twvn0f.png"
                  alt="Buff Shop"
                  width="120"
                  style="display: block"
                />
              </td>
            </tr>

            <!-- Header Section -->
            <tr>
              <td style="padding: 0 32px">
                <h1
                  style="
                    color: #ffb800;
                    font-size: 40px;
                    font-weight: 500;
                    margin: 0 0 24px 0;
                    text-align: center;
                    line-height: 48.84px;
                    letter-spacing: 0.13px;
                  "
                >
                  Hi Oluwaseun!
                </h1>
                <p
                  style="
                    font-size: 14px;
                    line-height: 22px;
                    color: #ffffff;
                    max-width: 480px;
                    margin: 0 auto;
                    text-align: center;
                    padding-bottom: 24px;
                  "
                >
                  We received a request to reset your password for your BuffShop
                  account. If you made this request, please use the link below
                  to reset <br />your password:
                </p>
                <h3 class="otp-code" style="text-align: center; color: #ffb800">
                  buffshop.co/password
                </h3>
              </td>
            </tr>

            <!-- Hero Image -->
            <tr>
              <td align="center" style="padding: 0 32px 48px 32px">
                <img
                  src="https://res.cloudinary.com/solomonfrank/image/upload/v1736688832/otp-hero_epqjbz.png"
                  alt="3D character riding rocket"
                  width="387"
                  style="display: block; max-width: 100%"
                />
              </td>
            </tr>

            <tr>
              <td style="background-color: #ffffff; padding: 47px 69px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      style="
                        color: #6b6867;
                        font-size: 14px;
                        line-height: 22px;
                        text-align: center;
                        font-family: Arial, sans-serif;
                      "
                    >
                      <p>
                        This link will expire in 24 hours for security reasons.
                        If you didn’t request a password reset, please disregard
                        this email or contact our support team at
                        <strong>help@buffshop.co.</strong>
                      </p>

                      <p>
                        For your security, never share your password with
                        anyone.
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- Footer -->
            <tr>
              <td
                style="
                  text-align: center;
                  padding-top: 32px;
                  border-top: 1px solid #1a1a1a;
                "
              >
                <img
                  src="https://res.cloudinary.com/solomonfrank/image/upload/v1736688831/logo_twvn0f.png"
                  alt="Buff Shop"
                  width="80"
                  style="margin-bottom: 24px"
                />
                <p
                  style="
                    color: #ffffff;
                    font-size: 16px;
                    line-height: 1.5;
                    margin-bottom: 32px;
                  "
                >
                  Let's grow together,<br />The Buff Shop Team
                </p>
                <div style="margin-bottom: 32px">
                  <a
                    href="#"
                    style="
                      color: #ffffff;
                      text-decoration: none;
                      margin: 0 12px;
                    "
                    >Facebook</a
                  >
                  <a
                    href="#"
                    style="
                      color: #ffffff;
                      text-decoration: none;
                      margin: 0 12px;
                    "
                    >Twitter</a
                  >
                  <a
                    href="#"
                    style="
                      color: #ffffff;
                      text-decoration: none;
                      margin: 0 12px;
                    "
                    >Instagram</a
                  >
                </div>
                <div style="margin-bottom: 32px">
                  <a
                    href="#"
                    style="
                      color: #ffffff;
                      text-decoration: underline;
                      margin: 0 12px;
                    "
                    >Privacy Policy</a
                  >
                  <a
                    href="#"
                    style="
                      color: #ffffff;
                      text-decoration: underline;
                      margin: 0 12px;
                    "
                    >Terms of Service</a
                  >
                </div>
                <p
                  style="
                    color: #f0f1f1;
                    font-size: 12px;
                    line-height: 16px;
                    border-top: 1px solid #848484;
                    padding-block: 15px;
                  "
                >
                  © 2025 Buff Shop. All Rights Reserved.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
